@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/animate';

@import 'base/variables';
@import 'base/animation';

* {
    font-family:'Museo Moderno', sans-serif;
}
.container{
     width: 950px;
     margin: 0 auto;
}
@import 'block/promo';
@import 'block/header';
@import 'block/button';
@import 'block/benefits';
@import 'block/title';
@import 'block/consultation';
@import 'block/forms';
@import 'block/carousel';
@import 'block/catalog';
@import 'block/feed';
@import 'block/footer';
@import 'block/modal';
@import 'block/pageup';

@import 'base/media';