@font-face {
    font-family: 'Museo Moderno';
    src: local('Museo Moderno Light '), local('Museo-Moderno-Light'),
      url('../fonts/MuseoModerno-Light.woff') format('woff');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Museo Moderno';
    src: local('Museo Moderno Medium'), local('Museo-Moderno-Medium'), 
      url('../fonts/MuseoModerno-Medium.woff') format('woff');
    font-weight:400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Museo Moderno';
    src: local('Museo Moderno Regular'), local('Museo-Moderno-Regular'), 
      url('../fonts/MuseoModerno-Regular.woff') format('woff');
    font-weight:500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Museo Moderno';
    src: local('Museo Moderno Bolt'), local('Museo-Moderno-Bolt'), 
      url('../fonts/MuseoModerno-Bold.woff') format('woff');
    font-weight:700;
    font-style: normal;
  }